body {
    background: #263238;
}

#app {
    color: white;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.link,
.link:hover,
.link:visited,
.link:active {
    color: #4FC08D;
}